div:first-child {
  --primary: #3f58ce;
  --input: #607d8b;
  --hover: #5981d2;
}

.signUp {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.signUp .contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}

.signUp .contentBox .formBox .errMsg {
  font-size: 13px;
  font-weight: 550;
  margin-bottom: 1rem;
  color: darkred;
  text-align: center;
}

.signUp .contentBox .formBox {
  width: 50%;
}

.signUp .contentBox .formBox h2 {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 4px solid var(--primary);
  display: inline-block;
  letter-spacing: 1px;
}

.signUp .contentBox .formBox .inputBox,
.signUp .contentBox .formBox .signinBox,
.signUp .contentBox .formBox .signupBox {
  margin-bottom: 20px;
}

.signUp .contentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--input);
  background: transparent;
  box-shadow:
    2px 2px 4px #d1d9ed,
    inset -2px -2px 4px #f9f9f9;
  border-radius: 30px;
  transition: 0.25s ease;
}

.signUp .contentBox .formBox .inputBox .inputForm {
  color: #010101;
  font-weight: 500;
}

.signUp .contentBox .formBox .signupBox button {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 600;
  border: 1px solid var(--primary);
  font-size: 16px;
  color: #fff;
  background-color: var(--primary);
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.signUp .contentBox .formBox .signupBox button:hover {
  background-color: var(--hover);
}

.signUp .contentBox .formBox .signinBox {
  text-align: center;
  color: black;
}

.signUp .contentBox .formBox .signinBox .signinLink {
  color: var(--primary);
  font-weight: 600;
}

.signUp .contentBox .formBox .signinBox .signinLink:hover {
  color: var(--hover);
}

.signUp .imageBox {
  position: relative;
  width: 50%;
  height: 100%;
}

.signUp .imageBox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signUp .imageBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signUp .imageBox .landingRoute {
  position: absolute;
  color: #fff;
  left: 2%;
  bottom: 1%;
}

.signUp .imageBox .landingRoute:hover {
  color: var(--hover);
}

.signUp .imageBox .overlayText {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 42%;
  color: #fff;
}

@media (max-width: 768px) {
  .signUp .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .signUp .contentBox .formBox {
    width: 100%;
    margin: 50px;
    padding: 40px;
    background: rgb(255 255 255 / 0.9);
  }
  .signUp .contentBox .formBox h2 {
    color: var(--primary);
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }
  .signUp .contentBox .formBox .signinBox {
    font-size: 1.3rem;
  }
  .signUp .imageBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .signUp .imageBox .overlayText,
  .signUp .imageBox .landing-route {
    display: none;
  }
}
